.reloj{
    color:aquamarine;


}

.numbers{
    color:aquamarine;
    font-size: 75px;
    padding:50px;
    margin: 10px;
}

i{
    font-size:100px;
    border-style:solid;
    border-color: gray;
    border-radius: 25px;
    padding:50px;
    margin: 10px;
}

.digitContainer{
    font-size:100px;
    border-style:solid;
    border-color: gray;
    border-radius: 25px;
}

.itemsContainer{
    align-items: center;
}